<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록결과</title>
</head>
<body>
    상품이름 : <%= data.productname %><br>
    상품사진 : <img src=<%= data.filename%> width="200px">
</body>
</html>