<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품목록조회</title>
</head>
<body>
    <% list.forEach(function(val) { %>
        <div>
            <% var a = "/uploads/"+val.filename; %>
            상품이름 : <%= val.productname %>
            <img src= <%=a%> width="50px">
            <form action='/product' method='post'>
                <input type="hidden" value="<%= val.productid %>" name="productid">
                <input type="hidden" value="<%= user_num %>" name="user_num">
                <input type="submit" value="상품정보보기">
            </form>
        </div>
    <% }) %>
</body>
</html>